/* Home screen splash component */
.splash {
    background-image: url("irvan-smith-5eBW5GomfhY-unsplash.jpg"); /* Photo by Irvan Smith on Unsplash */
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap');

/* Glowing name home screen component */
.splash > h1 {
    display: flex;
    color: white;
    font-family: 'Source Code Pro', monospace;
    text-shadow: 0px 0px 1rem orange;
    justify-content: center;
    font-size: 5.5rem;
    margin: 10rem;
}